<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- JDBC connection -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://ep-snowy-snowflake-a5km4jyc-pooler.us-east-2.aws.neon.tech:5432/neondb?ssl=true&amp;sslmode=require&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory
        </property>
        <property name="hibernate.connection.username">neondb_owner</property>
        <property name="hibernate.connection.password">npg_63HgocvqIOtp</property>

        <!-- Hibernate settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Logging -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entity classes -->
        <mapping class="org.example.model.User"/>
        <mapping class="org.example.model.Vehicle"/>
        <mapping class="org.example.model.Car"/>
        <mapping class="org.example.model.Motorcycle"/>
        <mapping class="org.example.model.Rental"/>

    </session-factory>
</hibernate-configuration>